## Repaso de estructuras básicas de programación

### Sintaxis y control de flujo

In [7]:
print (a)

2

In [ ]:
a = 2

b= 3

In [5]:
a

2

In [6]:
b

3

### if - else

In [20]:
condicion = (a > b)

a = 2
b = 3
#expresiones booleanas
# | or
# & and
# == equal
# != not equal
if ((a > b) | (not (b == 3))) :
    print("Verdadero")
else :
    print("Falso")
    print("Hola")

Falso
Hola

### bucles - ciclos

In [23]:
contador = 0

while (contador <= 5) :
    print("Estoy en la iteración " + str(contador))
    contador += 1 # equivalente a contador = contador + 1

Estoy en la iteración 0
Estoy en la iteración 1
Estoy en la iteración 2
Estoy en la iteración 3
Estoy en la iteración 4
Estoy en la iteración 5

In [26]:
lista = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

for elemento in lista :
    if elemento%2 == 0 : #% te arroja el residuo
        print(elemento)

2
4
6
8
10

## Operadores

### Matemáticos

In [27]:
# Suma
a + b

5

In [28]:
# Resta
a - b

-1

In [29]:
# Multiplicación
a * b

6

In [30]:
# División
a / b

0.6666666666666666

In [31]:
# División cortando la parte decimal
a // b

0

In [32]:
# Módulo
a % b

2

In [33]:
# Potencia
a**b

8

## Lista

In [ ]:
contador = 0
a = [3,6,9]
while (contador < 97):
    a.append(a[-1] +3)
    contador += 1

In [20]:
a

[3,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 30,
 33,
 36,
 39,
 42,
 45,
 48,
 51,
 54,
 57,
 60,
 63,
 66,
 69,
 72,
 75,
 78,
 81,
 84,
 87,
 90,
 93,
 96,
 99,
 102,
 105,
 108,
 111,
 114,
 117,
 120,
 123,
 126,
 129,
 132,
 135,
 138,
 141,
 144,
 147,
 150,
 153,
 156,
 159,
 162,
 165,
 168,
 171,
 174,
 177,
 180,
 183,
 186,
 189,
 192,
 195,
 198,
 201,
 204,
 207,
 210,
 213,
 216,
 219,
 222,
 225,
 228,
 231,
 234,
 237,
 240,
 243,
 246,
 249,
 252,
 255,
 258,
 261,
 264,
 267,
 270,
 273,
 276,
 279,
 282,
 285,
 288,
 291,
 294,
 297,
 300]

## Utilidad

In [21]:
import pandas as pd
data = pd.read_excel("datosPE.xlsx")

In [23]:
data["Indice de masa corporal"] = data["Peso"]/data["Estatura"]**2
data

    ID Persona  Peso  Estatura  Indice de masa corporal
0            1    67      1.41                33.700518
1            2    99      1.83                29.561946
2            3    86      1.90                23.822715
3            4   118      1.65                43.342516
4            5   109      1.67                39.083510
..         ...   ...       ...                      ...
95          96    88      1.49                39.637854
96          97    98      1.54                41.322314
97          98    95      1.57                38.541117
98          99    61      1.61                23.533043
99         100   107      1.62                40.771224

[100 rows x 4 columns]

## Utilidad

In [26]:
import pandas as pd
data = pd.read_excel("datosCT.xlsx")

In [30]:
data["Utilidad"] = data["Ingreso"]-data["Gasto"]

data

    Unnamed: 0  Ingreso  Gasto  Promedio
0        Enero     1340   1880      -540
1      Febrero     2590   3130      -540
2        Marzo     3570   2140      1430
3        Abril     4450   3370      1080
4         Mayo     1330   2990     -1660
5        Junio     1610   1970      -360
6        Julio     1500   2230      -730
7       Agosto     2270   1240      1030
8   Septiembre     1910   1470       440
9      Octubre     2120   2280      -160
10   Noviembre     3950   1870      2080
11   Diciembre     1380   3140     -1760

## Promedio

In [46]:
data["Promedio de gastos"]=((1880+3130+2990+1970+2230+2280+3140)/7)

data

    Unnamed: 0  Ingreso  Gasto  Promedio  Ingresos totales  Promedio de gastos
0        Enero     1340   1880      -540             28020         2517.142857
1      Febrero     2590   3130      -540             28020         2517.142857
2        Marzo     3570   2140      1430             28020         2517.142857
3        Abril     4450   3370      1080             28020         2517.142857
4         Mayo     1330   2990     -1660             28020         2517.142857
5        Junio     1610   1970      -360             28020         2517.142857
6        Julio     1500   2230      -730             28020         2517.142857
7       Agosto     2270   1240      1030             28020         2517.142857
8   Septiembre     1910   1470       440             28020         2517.142857
9      Octubre     2120   2280      -160             28020         2517.142857
10   Noviembre     3950   1870      2080             28020         2517.142857
11   Diciembre     1380   3140     -1760             28020         2517.142857

## Ingresos totales

In [47]:
data["Ingresos totales"]=data["Ingreso"].sum()

In [48]:
data

    Unnamed: 0  Ingreso  Gasto  Promedio  Ingresos totales  Promedio de gastos
0        Enero     1340   1880      -540             28020         2517.142857
1      Febrero     2590   3130      -540             28020         2517.142857
2        Marzo     3570   2140      1430             28020         2517.142857
3        Abril     4450   3370      1080             28020         2517.142857
4         Mayo     1330   2990     -1660             28020         2517.142857
5        Junio     1610   1970      -360             28020         2517.142857
6        Julio     1500   2230      -730             28020         2517.142857
7       Agosto     2270   1240      1030             28020         2517.142857
8   Septiembre     1910   1470       440             28020         2517.142857
9      Octubre     2120   2280      -160             28020         2517.142857
10   Noviembre     3950   1870      2080             28020         2517.142857
11   Diciembre     1380   3140     -1760             28020         2517.142857